body {
    margin-top: 285px;
    background-image: url('/imgs/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    
}
.title {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #ffe100;
}
.nav-bar {
    padding: 30px;
    background-color: #009dff;
    border-bottom: 10px solid rgb(0, 187, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 30px;
}
.btn-outline-yellow {
    background-color: transparent;
    color: #ffe100;
    border: solid 2px;
    border-color: #ffe100;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}
.btn-outline-yellow:hover {
    background-color: #ffe100;
    color: white
}

.btn-outline-yellow:active {
    transition: 0.1s;
    background-color: #d5bd00;
    color: #ffe100;
}